//import de variables
@import "../utilidades/variables";

//import de mixin
@import "../utilidades/mixin";

// Footer
footer {
    background-color: $background-color;
    padding: 20px 0;
    background-color: red !important;

    .menu ul {
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    .relative div {
        flex: 1 1 calc(50% - 20px);
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .relative div {
        flex: 1 1 100%;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;

        li a {
            padding: 8px 15px;
        }
    }
}