
  @media (max-width: 480px) {
    h1 {
      font-size: 18px;
    }
  
    .logo img {
      max-width: 150px;
      margin: 10px auto;
    }
  
    .relative {
      flex-wrap: wrap;
      div {
        flex: 1 1 100%;
      }
    }
  
    .menu ul {
      flex-direction: column;
      gap: 10px;
      
      li {
        a {
          padding: 8px 15px;
        }
      }
    }
    
    .nav-link {
      margin: 0 5px;
    }
  }
  