//Variables de todos los html

$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Arial, sans-serif;
$primary-color: #333;
$secondary-color: #FED925;
$background-color: #f5f5f5;
$hover-background-color: #ddd;
$heading-background-color: beige;
$heading-padding: 10px;
$border-color: #ccc;
$border-radius: 5px;
$transition-duration: 0.3s;
$banner-padding: 10px;
$banner-width: 100%;